.cabecalho__menu-hamburger {
  width: 24px;
  height: 24px;
  background-image: url("../assets/Menu.svg");
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburger {
  background-image: url("../assets/MenuAberto.svg");
}

.container__botao:checked ~ .container__rotulo {
  background: var(--gradiente-azul);
}


.cabecalho {
  background-color: var(--branco-principal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
}

.container__imagem {
  padding: 1em;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: var(--branco-principal);
  text-decoration: none;
  width: 60vw;
}

.container__botao:checked ~ .lista-menu {
  display: block;
}

.lista-menu__item,
.lista-menu__titulo {
  padding: 1em;
}

.lista-menu__titulo {
  color: var(--laranja-principal);
  font-family: var(--font-poppins);
  font-weight: 700;
}

.lista-menu__link {
  background: var(--gradiente-azul);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-poppins);
  font-size: 1em;
  font-weight: 400;
}

.container__botao {
  display: none;
}

.container__titulo {
  display: none;
}

.opcoes {
  display: none;
}

.container__texto {
  display: none;
}

@media screen and (min-width: 1024px) {
  .container__titulo,
  .container__titulo-negrito {
    font-family: var(--fonte-josefin);
    font-size: 30px;
  }

  .container__titulo {
    font-weight: 400;
    display: block;
  }

  .container__titulo-negrito {
    font-weight: 700;
  }

  .opcoes__botao:checked ~ .opcoes__rotulo .opcoes__item {
    background: var(--gradiente-azul);
    color: var(--branco-principal);
  }

  .opcoes {
    display: flex;
  }

  .opcoes__item {
    padding: 2em 1em;
    text-transform: uppercase;
  }

  .lista-menu__item:hover {
    background: var(--gradiente-azul);
  }

  .lista-menu__item:hover > .lista-menu__link {
    -webkit-text-fill-color: var(--branco-principal);
    text-decoration: none;
  }

  .opcoes__link {
    text-decoration: none;
    color: var(--preto-principa);
  }

  .container__imagem-transparente {
    display: none;
  }

  .cabecalho__menu-hamburger {
    display: none;
  }

  .opcoes__botao:checked ~ .lista-menu {
    display: block;
    width: auto;
  }

  .opcoes__botao {
    display: none;
  }
}

@media screen and (min-width: 1728px) {
  .container__texto {
    display: block;
  }

  .container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--preto-principal);
  }

  .cabecalho {
    padding: 0 2em;
  }

  .opcoes {
    margin-right: auto;
  }
}
